body{
  background-image: url(../public/background.png);
}
h1{
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.newGame{
  transition: all .5s ease-in-out;
  background-color: #eeeeee;
  border: 2px solid black;
  padding:10px;
  border-radius: 8px;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  right: calc(10% + 165px);
  top:90px;
  cursor: pointer;
}
.newGame:hover{
  transition: all 1s ease-in-out;
  background-color:black;
  color:#eeeeee;
}

.colored span {
  background: linear-gradient(to right, rgb(205, 39, 2),rgb(255, 157, 96)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px; 
  font-weight: bold;
}

.colored {
  background: linear-gradient(to right, gray, black); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 


@media (max-width : 709px) {
  .card img{
    max-height: 75px;
    max-width: 75px;
    border:3px solid black;
    border-radius:12px;
    margin: 9px;
}
}
@media (max-width : 565px) {
  .card img{
    max-height: 50px;
    max-width: 50px;
    border:2px solid black;
    border-radius:8px;
    margin: 6px;
}
}
@media (max-width : 340px) {
  .card img{
    max-height: 40px;
    max-width: 40px;
    border:2px solid black;
    border-radius:7px;
    margin: 4px;
}

}